<div class="main-container">
    <header>
        <div class="nda-container">
            <img src="/assets/images/NDA.svg" alt="NDA-icon">
        </div>

        <p class="text-header">that makes binging healthy for you that is not only authentic but also tasty</p>

        <div class="search">
            <input type="text" placeholder="You can search by ingridients or product name">
            <img src="/assets/images/Vector.svg" alt="">
        </div>

        <div class="menu-container">
            <img class="menu-icon" src="/assets/images/menu-1.svg" alt="menu-icon">
        </div>

        <div class="profile-container"><img class="profile-icon" src="/assets/images/profile.svg" alt="profile-icon">
        </div>
        <div class="shopping-container"><img class="shopping-icon" src="/assets/images/shopping-bag.svg"
                alt="shopping-icon"></div>

    </header>


    <section class="section1">
        <div class="banner1-container">
            <img class="banner1" src="/assets/images/smartmockups_kwp7i2np.png" alt="banner1-icon">
        </div>
        <div class="banner2-container">
            <p class="banner2-text">GINGER SNAP</p>
            <img class="banner2" src="/assets/images/smartmockups_kwp7eu4v 2.png" alt="banner2-icon">
        </div>
        <div class="banner3-container">
            <img class="banner3" src="/assets/images/smartmockups_kwp7he35.png" alt="banner3-icon">
            <p class="banner3-text">RAGI</p>
        </div>
        <div class="banner4-container">
            <img class="banner4" src="/assets/images/smartmockups_kwp9fb86 2.png" alt="banner4-icon">
            <img class="buy-btn" src="/assets/images/buy-btn.svg" alt="buy button">
            <p class="banner4-text">OATMEAL</p>
        </div>
        <div class="banner5-container">
            <img class="banner5" src="/assets/images/smartmockups_kwp9bbd9 2.png" alt="banner5-icon">
            <p class="banner5-text">BETAL</p>
        </div>
    </section>
    <section class="section2">
        <div class="left">
            <p class="left-text">unique, tasty healthy, and without any chemicals and preservatives.</p>
            <div class="left-product">
                <img src="/assets/images/Group 194.png" alt="3product-icon">
            </div>
            <p class="description-text">CANDIES</p>
        </div>
        <div class="right">
            <p class="text-right text-up">Natural food company from Berlin, Germany.</p>
            <p class="text-right">Delicious and simply nutritious with nothing artificial added.</p>
            <img class="icon" src="/assets/images/Frame-6.svg" alt="icons">

            <div class="right-product">
                <img src="/assets/images/Group-195.svg" alt="products">
                <img class="buy-btn" src="/assets/images/Group-166.svg" alt="products">
            </div>

            <p class="description-text">COOKIES</p>
        </div>
    </section>
    <section class="section3">
        <div class="background-container">
            <img class="section3-background" src="/assets/images/image-95.png" alt="background">
            <img class="btn-shop" src="/assets/images/Group-144.svg" alt="shopping button">
        </div>

        <p class="description-text">DISHES</p>
    </section>

    <section class="section4">
        <div style="display: flex;">
            <div class="left">
                <p class="left-text">suit your taste and nutritional demands</p>

            </div>
            <div class="right">
                <p class="text-top-right">We offer to you </p>
                <p class="text-bottom-right">a product that makes binging healthy for you
                    a product that is not only authentic but also tasty</p>
            </div>
        </div>

        <div class="demand-container">
        <div class="demand1">
            <img class="leaf-icon" src="/assets/images/Frame-19.svg" alt="leaf icon">
            <p class="demand1-text">organic & natural</p>
            <p class="demand1-text2">Great sourse of antioxodants. 100% vegan. NO refined sugar.</p>
        </div>
        <div class="demand2">
            <img class="demand2-icon" src="/assets/images/Frame-21.svg" alt="demand2 icon">
            <p class="demand2-text">fast deliver</p>
            <p class="demand2-text2">Our same-day services provide reliable door-to-door delivery within hours.</p>
        </div>
        <div class="demand3">
            <img class="demand3-icon" src="/assets/images/Frame-22.svg" alt="demand3 icon">
            <p class="demand3-text">own recipes</p>
            <p class="demand3-text2">We create recipes that taste great and provide real nutritional benefits.</p>
        </div>
    </div>

    </section>
</div>
